<div class="bg-image bg" >
    <div class="container">
        <div class="">
            <div class="row justify-content-center ">
                <div class="col-lg-3 col-md-6 col-sm-8 col-11 rounded-5  border-color shadow  position-absolute top-50 start-50 translate-middle bg-light cards">
                    <div class="card-body">
                        <!-- <h3 class="card-title text-center mb-3 mt-2">Phygital</h3> -->
                        <div class="text-center">
                            <img class="logo mb-3 mt-3" src="../../assets/images/logo.png" alt="">
                            <h5 class="text-color">Login</h5>
                            <hr class="mx-auto" size="3" width="90%" color="#1c9dd9"> 
                        </div>
                        <form class="p-2" [formGroup]="loginForm">
                            <!-- Email input -->
                            <div class="form-group mb-4">
                                <label class="form-label" for="form2Example1"><strong class="text-danger">*</strong> Mobile Number</label>
                                <input type="number" id="form2Example1" autofocus  class="form-control" formControlName="userName" placeholder="+91 1234567890" />
                            </div>
    
                            <!-- Password input -->
                            <div class="form-group ">
                                <label class="form-label" for="form2Example2"><strong class="text-danger">*</strong>Password</label>
                                <input type="password" id="form2Example2" class="form-control" formControlName="password" placeholder="1aB@" />
                            </div>
                            <div *ngIf="loginForm.invalid && loginForm.touched" class="text-danger mb-4">
                                Enter the required Fileds
                            </div>
                            <!-- 2 column grid layout for inline styling -->
                            <div class="row mb-4">
                                <div class="col d-flex justify-content-center">
                                    <!-- Checkbox -->
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="form2Example31"
                                             />
                                        <label class="form-check-label" for="form2Example31"> Remember me </label>
                                    </div>
                                </div>
    
                                <div class="col">
                                    <!-- Simple link -->
                                    <a routerLink="/forgetPassword">Forgot password?</a>
                                </div>
                            </div>
                            
                            <!-- Submit button -->
                            <button pButton type="button" class="p-button btn-color d-block mb-4" label="Login in"  (click)="login()"></button>
    
                            <!-- <button type="button" class="btn btn-color d-block mb-4 shadow">Login in</button> -->
    
                            <!-- Register buttons -->
                            <div class="text-center">
                                <p>Not a member? <a routerLink="/signup">Sign up</a></p>
                                
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    